<link href="~/css/common.css" rel="stylesheet" />
@model WebRazor.Models.Recognition.NewRecognitionViewModel
@{
    ViewData["Title"] = "New Recognition";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Create", "Recognition", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="name">Name</label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Name)
                <div class="row">
                    @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="name">Neural Network</label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.NeuralNetworkId, Model.NeuralNetworks, "Select Neural Network")
                <div class="row">
                    @Html.ValidationMessageFor(m => m.NeuralNetworkId, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="file">File</label>
            </div>
            <div class="col-md-3">
                <div>
                    @Html.TextBoxFor(m => m.File, new {type = "file", @class = "input-file"})
                    <div class="row">
                        @Html.ValidationMessageFor(m => m.File, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <input class="btn btn-success" type="submit" value="Submit"/>
        </div>
    </div>
}