@model WebRazor.Models.Detection.DetectionsViewModel
@{
    ViewData["Title"] = "Detections";
}
<h2>@ViewData["Title"]</h2>

<button class="btn btn-success" onclick="location.href = '@Url.Action("NewDetection", "Detection")'">
    Create new Face Detection Request
</button>

<table class="table" *ngIf="requests">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Input</th>
        <th>Status</th>
        <th>Creation Time</th>
        <th>Completion Time</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var request in Model.DetectionRequests)
    {
        <tr>
            <td>@request.Id</td>
            <td>@request.Name</td>
            <td>
                <img src="data:image/jpeg;base64,@request.Thumbnail"/>
            </td>
            <td>@request.Status</td>
            <td>@request.CreationTime.ToString().Replace("T", " ")</td>
            <td>@request.CompletionTime.ToString().Replace("T", " ")</td>
            <td class="btn btn-success" onclick="location.href = '@Url.Action("Detection", "Detection", new {request.Id})'">
                Show
            </td>

        </tr>
    }
    </tbody>
</table>